*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
.hero{
    /*background-image: linear-gradient(to bottom, rgba(95, 93, 93, 0.699) 0%, rgba(0, 0, 0, 0.692) 0%), radial-gradient(at top center, rgba(22, 20, 20, 0.4) 0%, rgba(97, 75, 75, 0.4) 120%) #989898, url("../proyecto\ barber/images.jpeg");
    background-blend-mode: multiply,multiply;*/
    background-image: linear-gradient(120deg, rgba(39, 35, 35, 0.699) 0%, rgba(17, 15, 15, 0.692) 100%), url("../proyecto\ barber/fondotitle.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

}
.textos-hero{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textos-hero h1{
    font-size: 60px;

}
.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}
.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a4a4a4;
    border-radius: 8px;
    color: white;

}
.textos-hero img{
    height: 40%;
}
.svg-hero{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

/*estilos generales*/
.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
.titulo{
    font-weight: 300px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.titulo.left{
    text-align: left;
}
.titulo.right{
    text-align: right;
}
/*section*/
.website{
    display: flex;
    justify-content: space-between;

}
.website img{
    width: 48%;
}
.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    padding: 12px 15px;
    border-radius: 8px;
    margin-top: 14px;
    justify-content: center;
    text-align: center;
    color: #989898;
}
.cta:hover{
    background-color: gray;
    color:#000;
}
/*informacion*/
.info{
    background:#4d4d4d;
    color: white;

}

/*cards*/
.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    text-align: center;
    /*height: 300px;*/
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
    transform: scale(1);
    transition: transform 0.6s;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.301);
    transform: scale(1.03);
    cursor: pointer;
    background-color: #c0c0c0;
}
.card img{
    margin: 30px 0 20px 0;
    width: 90%;
    height: 80%;
    color: grey;
    margin-top: 10px;
    margin-bottom: 0;
    object-fit: cover;
}
.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
.card h3{
    text-align: center;
    justify-content: center;
}

/*galeria*/
.galeria{
    background: #4d4d4d;
}

.galeria-cont{
    width: 100%;
    display: flex  ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 10px;
}
.galeria-cont>img{
    width: auto;
    height: auto;
    max-width: 280px;
    max-height:280px ;
    object-fit: cover;
    margin-bottom: 12px;
    display: block;
    box-shadow: 0px 0px 8px 0px white;
    cursor: pointer;
    overflow: hidden;

}
.galeria-cont>img:hover{
    box-shadow: 0px 0px 8px 7px white;
    transform: scale(1.03);
    cursor: pointer;
}
.galeria h2{
    color: white;
    padding-top: 20px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.galeria.contenedor {
    padding-top: 8px;
    padding-bottom: 20px;
}

/*info2*/

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}
.last-section img{
    width: 48%;
}
.last-section .contenedor-textos-main{
    width: 40%;
}


/*footer*/
footer{
    background: #000;
    color: #989898;
    position: relative
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.input{
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 20px 10px;

}
.input::placeholder{
    color:white;
    font-family: 'ralaway',sans-serif;
}
input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}
.form textarea{
    width: 100%;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    color: white;
    background: #000;
}input[type="submit"]:hover{
    cursor: pointer;
    color:white;
    background-color: gray;
    
}
.sendbtn{
    display: flex;
    justify-content: center;
}

/*Informacion del grupo*/
grupo.svg-wave{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}
/*Content cards 2*/
.content-cards1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card1{
    width: 24%;
    text-align: center;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
    transform: scale(1);
    transition: transform 0.6s;
}
.card1:hover{
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.301);
    transform: scale(1.03);
    cursor: pointer;
    background-color: #c0c0c0;
}
.card1 img{
    margin: 30px 0 20px 0;
    width: 90%;
    height: 80%;
    color: grey;
    margin-top: 10px;
    margin-bottom: 0;
    object-fit: cover;
}
.card1 p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
.contenedor1{
    padding-left: 300px;
    padding-right: 300px;
}
/*secciones de texto 2*/
.website2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.website2 img{
    width: 48%;
}
.website2 .contenedor-textos-main{
    width: 40%;
}

/*social media*/
.sm{
    display: flex;
    justify-content: center;